html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}