.category-table--container {
    display: flex;
}
.category_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

@media (min-width:768px) {
    .title-table {
        left: 15vw;
      }
    }
    