* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.publi_img{
    width:-webkit-fill-available;
}
.publi{
    width: 100%;
    height: 180px;
    background-size: cover;
    padding-top: 10px;
    
    position: absolute;
    
    bottom: 0%;
}
.home__main {
    background-color: #ffff;
}

.card-container_home{
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    object-fit: cover;
}
.card_home{
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fafafa;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}
.card_home:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card_home img{
    width: 100%;
    height: 280px;
    object-fit:contain;
    padding: 10px;
}
.card_home .card-content_home{
    padding: 15px;
    text-align: center;
}
.card_home .card-content_home p{
    line-height: 1.5;
    color: #010101;
}
.card_home .card-content_home h3{
    font-weight: 400;
    margin-bottom: 15px;}

.card_home a{
    color: #010101;
}*



/* HERO IMAGE */
 .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    width: 90vw;
    height: 90vh;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #010101;
}
.hero-text p{
    margin-bottom: 0;
}

@media(max-width: 768px) {
    .card-container_home{
    grid-template-columns: auto auto auto ;
    }
    .card_home{
        margin: 5px;
    }
}

@media(max-width: 420px) {
    .card-container_home {
        .card-container{
            grid-template-columns: auto auto;
        }
    }
}  
