
.productos__main {
    text-align: justify;
    margin: 0px 10px 10px 10px;
}

.justify-content-between {
    border-style: inset;    
}

.productos__main-card-title {
    margin-top: 5px;
    text-align: center;
    font-weight: 900;
}

.productos__main-card-text {
    padding: 3px;
    border-bottom-style: inset;
    margin: 0px;
    font-size: x-small;
    
}

.productos__main-card-precio {
    text-align: center;
}

   .productos__main-center-bt{  
    display: flex;
    justify-content: center; } 

  
    .productos__main-img {
        display: flex;
        justify-content: center;
   
      } 

  





/*----------- 481px ----------- */

@media (min-width:481px) {
    .productos__main {
        display: block;
    }

    .productos__main-card-text {
        font-size: medium;
    }
}

/*----------- 769px ----------- */

@media (min-width:769px) {
    .productos__main {
        display: contents;
        padding: 0px;
    }

    .productos__main-card-text{
        font-size: small;
    }

    
}