.product-detail__main {
    text-align: justify;
    margin: 0px 10px 10px 10px;
}
.product-detail__main-img {
    display: flex;
    justify-content: center;
}
.product-detail__main-image-central {
    background-color: white;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
}

img#main-image {
    height: 230px;
}
.product-detail__main-image-justify-content-between {
    border-style: inset;
    gap: inherit;
    justify-content: space-between;
}

.product-detail__main-card-title {
    margin-top: 5px;
    text-align: center;
    font-weight: 900;
}
.product-detail__main-card-text {
    padding: 3px;
    border-bottom-style: inset;
    margin: 0px;
    font-size: x-small;

}
.product-detail__main-card-precio {
    text-align: center;
}

.product-detail__main-center-bt {
    display: flex;
    justify-content: center;
}

button.product-detail__main-button{
    background-color: rgb(50, 173, 179);
    border-radius:5px;
    font-weight: bold;
}





/*----------- 481px ----------- */

@media (min-width:481px) {
    .product-detail__main {
        display: block;
    }

    .product-detail__main-card-text {
        font-size: medium;
    }

    .product-detail__main-image-central {
        height: 260px;
        padding-top: 10px;
    }
  }

/*----------- 769px ----------- */

@media (min-width:769px) {
    .product-detail__main {
        display: contents;
        padding: 0px;
    }

    .product-detail__main-card-text {
        font-size: small;
    }
}

@media(min-width: 1024px) {
    img#main-image {
        height: 250px;
    }
}