<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main>
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin">Volver al Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/categories">Categorias</a>
              </li>
            </ul>
          </div>
        </nav>
        <main class="newBrand__main">
          <form action="/brands/add" method="POST" class="newBrand__main__form" enctype="multipart/form-data">
            <h3 class="newBrand__main__form--title">Agregar Marca</h3>
            <br>
            <div class="mb-3">
              <label for=>Nombre de la Marca</label>
              <input placeholder="Ingrese el nombre" class="form-control" type="text" name="name" id="name">
             
              <div class="boximage_imgCategory">
                <label for="" class="form-label">Imagen de la categoria</label>
                <div class="input-group mb-3">
                  <input type="file" class="form-control" name="image" id="image" />
                  <label class="input-group-text" for="image">Subir</label>
                </div>
                <div class="boxbutton">
                  <div>
                    <a href="/">
                      <button type="reset" class="Limpiar">Limpiar</button>
                    </a>
                  </div>
                  <div>
                    <a href="/">
                      <button type="submit" class="Publicar">Publicar</button>
                    </a>
                  </div>
          </form>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>