<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">        
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin">Volver al admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/brands">Marcas</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="editBrand__main col-7 col-md-6 mx-auto mt-3 mb-10">
        <form action="/brands/update/<%= brand.id %>?method=PUT" method="POST" class="editBrandmain_form" enctype="multipart/form-data" >
          <h3 class="editBrand__main-title-table">Editar Marca</h3>
              <br>
                <div class="mb-3">
                    <label for=>Nombre de la marca</label>
                    <input placeholder="Ingrese el nombre" class="form-control" type="text" name="name" id="name">
                                    
                        <div class="boximage_imgBrand">
                            <label for="" class="form-label">Imagen de la marca</label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" single name="image" id="image" />
                                <label class="input-group-text" for="image">Subir</label>
                            </div> 
                        <div class="boxbutton">
                            <div>
                                <a href="/">
                                    <button type="reset" class="Limpiar">Limpiar</button>
                                </a>
                            </div>
                            <div>
                                <a href="/">
                                    <button type="submit" class="Publicar">Publicar</button>
                                </a>
                            </div>
            </form>

        </div>
        
      </div>
    </div>
      </div>

     
          
      
      </table>
    </div>   
    </main>
    <%- include('partials/footer') %>
</body>
</html>