<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodaviaSirve</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://kit.fontawesome.com/2b30b879ab.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="fontawesome/css/all.css">
</head>
<body class="home">
    <header class="home__header">
        <div class="home__header__back">
           <div class="menu container">
               <a href="/" class="logo"><img src="/images/ts3.png" alt=""></a>
               <div class="home__header__search">
                   <input type="text" placeholder="¿Que productos buscas....?">
                   <button><i class="fi fi-rr-search"></i></button>
               </div>
               <input type="checkbox" id="menu">
               <label for="menu">
                   <img src="/images/menu.png" class="menu-icono" alt="">
               </label>
               <nav class="home__header__navbar">
                   <ul>
                       <li> <a href="#">Ofertas</a></li>
                       <li> <a href="#">Categorias</a></li>
                       <li> <a href="#">Vender</a></li>
                       <li> <a href="#">Favoritos</a></li>
                       <li> <a href="/login">Mi Cuenta</a></li>
                   </ul>
               </nav>
              
           </div>
        </div>   
       </header>
    
       <main class="main">
        <section class="home__main__section">
            <div>
            <ul>
                <li>
                    <h3>Tu Carrito(3)</h3>
                    
                </li>
            </ul>
            <hr>
            <div class="productos_container">
            <article class="producto1_box">
                <div>
                   <img src="/images/piero.jpg" alt="" >
               </div>
               <div class="info_product">
               <h4>Sommier Piero 2x2</h4>
               <p> $ 60.000 </p>
               <button class="button_main">
                <p>Eliminar</p>
               </button>
               </div>
           </article>
            <article class="producto2_box">
                <div>
                   <img src="/images/minicomponente.jpg" alt="" >
               </div>
               <div class="info_product">
               <h4>Mini Componente NOBLEX</h4>
               <p>$ 15.000 </p>
               <button class="button_main">
                <p>Eliminar</p>
               </button>
               </div>
           </article>
           <article class="producto3_box">
            <div>
               <img src="/images/muebletv.jpg" alt="" >
           </div>
               <div class="info_product">
               <h4>MuebleTV Living</h4>
               <p>$ 45.000 </p>
               <button class="button_main">
                <p>Eliminar</p>
               </button>
           </div>
       </article>
    </div>
            <div class="precio_total_box">   
            <div class="price_total">
                <h3>TOTAL:  </h3>
                <h3>120.000 $ </h3>
            </div>
            </div>        
            <div class="buy_continue">
                <button class="button_main">
                    <h3>Elegir mas productos</h3>
                </button>

                <button class="button_main">
                    <h3>Continuar Compra</h3>
                </button>

            </div>
            
            <!-- <div class="form_box">
            <div class="form_payment">
                <form action="/procesar_pago" method="post">
                    <h4>Datos De Tarjeta</h4> 
                    <br>
                    <label for="nombre">Nombre y Apellido:</label>
                    <br>
                    <input type="text" id="nombre" name="nombre" required>
                    <br>
                    <label for="tarjeta">Número de Tarjeta:</label>
                    <input type="text" id="tarjeta" name="tarjeta" required><br>
            
                    <label for="expiracion">Fecha de Expiración:</label>
                    <input type="text" id="expiracion" name="expiracion" required><br>
                    <label for="cvv">CVV:</label>
                    <input type="text" id="cvv" name="cvv" required><br>
                </form>
            <button>
                <h4>PAGAR</h4>
            </button>    
            </div>
            </div> -->
            
        </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer--iconBox">
            <ul class="footer__iconBox--ul">
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li style="--clr:#43d854">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a> 
                </li>
                <li style="--clr:#ff0095">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer--access">
            <ul>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Mis Compras</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Vender</a></li>

            </ul>
        </div>
        <div class="footer--date">
            <p>Copyright &copy; 2023 TodaviaSirve S.R.L<p>
            <p>Juana Manso 1691, Piso 1, CP 1768, Puerto Madero, CABA</p>
        </div>
    </footer>
</body>
</html>