<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todavia Sirve</title>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <!-- SWIPER -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="home">
  
  <%- include('partials/header') %> 
  <main class="home__main">
    <div class="hero-image">
      <img class="banner" src="/images/banner.jpg" alt="">
      <div class="hero-text">
        <h1>Todavia sirve</h1>
        <p>Todo lo que buscas en nuevos y usados!</p>
        <button><p> <a href="/products/new">Publicar</a></p></button>
      </div>
    </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/Auto_usado3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/Campera_usada.webp" alt=""></div>
        <div class="swiper-slide"><img src="/images/Lancha3.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/images/parlantes-beamlb230-1.jpg" alt=""></div>
      </div>
    </div>
    <div class="card-container">
      <div class="card-section">
        <div class="card">
          <a href="/products/detail">
          <img src="\images\tv-50-noblex-dr50x7550-android-4k.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Televisor 40"</p>
          <p class="price">$90.000</p>
          <p class="card-descripcion">Vendo tele 40"...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/Auto_usado1.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Camioneta</p>
          <p class="price">$19.99</p>
          <p  class="card-descripcion">Camioneta 2008 103.000 km...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
            <img src="/images/Campera_usada.webp" alt="" style="width:100%"></a>
            <p class="card-name">Campera</p>
            <p class="price">$19.99</p>
            <p class="card-descripcion">Campera rompeviento semi-nueva...</p>
          
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/stilh_motoguadaña2.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Motoguadaña</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Sthil poco uso...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/parlantes-beamlb230.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Parlantes Beam</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Parlantes poco uso los vendo...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/Lancha3.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Lancha</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Lancha motor fuera de borda...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/Lancha.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Lancha</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Lancha perfecto vacaciones de...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/parlantes-beamlb230.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Parlantes</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Permuto parlantes...</p>
        </div>
        <div class="card">
          <a href="/products/detail">
          <img src="/images/parlantes-beamlb230.jpg" alt="" style="width:100%"></a>
          <p class="card-name">Parlantes DJ</p>
          <p class="price">$19.99</p>
          <p class="card-descripcion">Parlantes para salon de fiesta...</p>
        </div>
      </div>
    </div>
  </main>
  <%- include('partials/footer') %> 

  <!-- JS SWIPER -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Por fallos en la importacion decidí incluir el script de swiper completo -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
</body>
</html>