<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="newProduct__main">
                <form action="/products/add" method="POST" class="newProduct__main__form" enctype="multipart/form-data">
                    <h3 class="newProduct__main__form--title">Vende lo que quieras!</h3>
                    <br>
                    <div class="mb-3">
                        <input placeholder="Nombre" class="form-control" type="text" name="name" id="name">
                        <label for="marca" class="form-label">Marca</label>
                        <input type="text" class="form-control" name="marca" placeholder="Ingrese la marca"
                            id="marcaProd">
                        <input placeholder="precio" type="number" name="price" id="price" class="form-control">
                        <div class="boxselect_estadoProducto">
                            <label for="prodDescription" class="form-label">Breve descripción</label>
                            <textarea class="form-control" name="description" id="description" rows="3">...</textarea>
                            <div class="boximage_imgProduct">
                                <label for="" class="form-label">Imagen del producto</label>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" multiple name="images" id="images" />
                                    <label class="input-group-text" for="images">Subir</label>
                                </div>
                                <span></span>
                            </div>


                            <label for="tiempo-uso" class="form-label">Tiempo de uso</label>
                            <select name="tiempo-uso" id="tiempo-uso" class="form-select form-select-sm"
                                aria-label="Tiempo de uso">
                                <option value="menos6">Menos 6 meses</option>
                                <option value="mas6">Más 6 meses</option>
                                <option value="masAño">Más de 1 año</option>
                            </select>
                            <section>
                                <label for="color" class="form-label">Color</label>
                                <input type="text" class="form-control" name="colorProd" placeholder="Ingrese el color"
                                    id="colorProd">

                                <label for="Categoría" class="form-label">Categoría</label>
                                <ul>
                                    <li><label for="electro" class="form-label">Electro</label>
                                        <input type="checkbox" value="electro" name="electro" id="electro">
                                    </li>
                                    <li><label for="moda" class="form-label">Moda</label>
                                        <input type="checkbox" value="moda" name="moda" id="moda">
                                    </li>
                                    <li><label for="hogar" class="form-label">Hogar</label>
                                        <input type="checkbox" value="hogar" name="hogar" id="hogar">
                                    </li>
                                    <li><label for="jugueteria" class="form-label">Jugueteria</label>
                                        <input type="checkbox" value="jugueteria" name="jugueteria" id="jugueteria">
                                    </li>
                                    <li><label for="otros" class="form-label">Otros</label>
                                        <input type="checkbox" value="otros" name="otros" id="otros">
                                    </li>
                                </ul>
                            </section>
                            <label for="stock">Cantidad</label>
                            <select name="stock" id="stock" class="form-select form-select-sm" aria-label="Stock">
                                <option value="unico">Único</option>
                                <option value="varios">Varios</option>
                            </select>
                            <label for="variante">Variantes</label>
                            <select name="variante" id="variante" class="form-select form-select-sm"
                                aria-label="Variante">
                                <option value="color">color</option>
                                <option value="material">Material</option>
                                <option value="tamaño">Tamaño</option>
                            </select>

                            <div class="boxbutton">
                                <div>
                                    <a href="/">
                                        <button type="reset" class="Limpiar">Limpiar</button>
                                    </a>
                                </div>
                                <div>
                                    <a href="/">
                                        <button type="submit" class="Publicar">Publicar</button>
                                    </a>
                                </div>
                </form>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            </main>
            <%- include('partials/footer') %>
                <!-- Verificador mime Type de imagenes (Evita que se suba un PDF(por ejemplo)) -->
                <script>
                    fileField = document.querySelector("[name=images]");
                
                    fileField.addEventListener("change", (e) => {
                        const files = e.target.files;
                        for (let i = 0; i < files.length; i++) {
                            const fileExt = files[i].name.split(".").pop().toLowerCase();
                            const allowedExt = ["jpg", "jpeg", "png", "gif"];
                            if (!allowedExt.includes(fileExt)) {
                                fileField.classList.add("invalid");
                                fileField.classList.add("errorFormat");
                                fileField.nextElementSibling.innerText = "La extensión de el archivo no es válida";
                            } else {
                                fileField.classList.remove("invalid");
                                fileField.classList.remove("errorFormat");
                                fileField.nextElementSibling.innerText = "";
                            }
                        }
                    });
                </script>
                
    </body>

</html>