<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <main class="register--main">
        <div class="register__main--box">
            <div class="register__main__box--title">
                <h2>Creá tu cuenta</h2>
            </div>
            <div class="register__main__box--formbox">
                <form class="register__main__box__formbox--form" action="/users/registerOk" method="get">
                    <div class="register__main__box__formbox--campobox">
                        <label>
                            <input class="register__main__box__formbox--campo" type="text" name="name" id="name" placeholder="Nombre" required>
                        </label>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <label>
                            <input class="register__main__box__formbox--campo" type="text" name="lastname" id="lastname" placeholder="Apellido" required>
                        </label>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <label>
                            <input class="register__main__box__formbox--campo" type="email" name="email" id="email" placeholder="Correo electronico" required>
                        </label>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <label>
                            <input class="register__main__box__formbox--campo" type="password" name="password" id="password" placeholder="Contraseña" required>
                        </label>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <label>
                            <input class="register__main__box__formbox--campo" type="password" name="passwordTwo" id="passwordTwo" placeholder="Repetir Contraseña" required>
                        </label>
                    </div>
                    <div class="register__main__box__formbox--buttonbox">
                        <a href="/users/registerOk">
                            <button class="register__main__box__formbox--button">Crear</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>