<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <main class="registerOk--main">
        <div class="registerOk__main--box">
            <div class="registerOk__main__box--title">
                <h2>Registro exitoso</h2>
            </div>
            <div class="registerOk__main__box__formbox--buttonbox">
                <a href="/">
                    <button class="registerOk__main__box__formbox--button">Continuar</button>
                </a>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    
</body>
</html>