    <footer class="footer">
        <div class="footer--iconBox">
            <ul class="footer__iconBox--ul">
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                </li>
                <li style="--clr:#43d854">
                    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                </li>
                <li style="--clr:#55acee">
                    <a href="#"><i class="fa-brands fa-twitter"></i></a> 
                </li>
                <li style="--clr:#ff0095">
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <div class="footer--access">
            <ul>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Mis Compras</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Favoritos</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="/products/add">Vender</a></li>

            </ul>
        </div>
        <div class="footer--date">
            <p>Copyright &copy; 2023 TodaviaSirve S.R.L<p>
            <p>Juana Manso 1691, Piso 1, CP 1768, Puerto Madero, CABA</p>
        </div>
    </footer>
