    <header class="home__header">
        <div class="home__header__back">
           <div class="menu container">
               <a href="/" class="logo"><img src="/images/ts3.png" alt=""></a>
               <div class="home__header__search">
                   <input type="text" placeholder="¿Que productos buscas....?">
                   <button><i class="fi fi-rr-search"></i></button>
               </div>
               <input type="checkbox" id="menu">
               <label for="menu">
                   <img src="/images/menu.png" class="menu-icono" alt="">
               </label>
               <nav class="home__header__navbar">
                   <ul>
                    <li> <a href="#">Ofertas</a></li>
                    <li> <a href="#">Categorias</a></li>
                    <li> <a href="#">Vender</a></li>
                    <li> <a href="#">Ayuda</a></li>
                    <li> <a href="/users/register">Registrarse</a></li>
                    <li> <a href="/users/login">Ingresar</a></li>
                   </ul>
               </nav>
           </div>
        </div>   
       </header>
 